.anuncio {
    display: none;
}



/* NOTICIA FULL */

.noticias {
    margin-top: 150px;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 3rem;
}
.noticia {
    min-width: 0;
    max-width: 100%;
    height: fit-content;
}


.noticiatextual {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    height: fit-content;
    column-count: 3;
  
  }

  .noticiatextualentradilla {
    border-bottom: 1px solid #2c2c2c;
    font-weight: bold; /* Negrita del texto */
  }


  .noticiamedia {
    max-height: 100%;
  }

.noticialadillo {
    display: flex;
}

.noticiatextualp {
    display: flex;
}

.noticiaimagencomplementaria {
    display: flex;
}


.noticialeermas {
    display: none;
}


@media (max-width: 1300px) {


.noticiatextual {
    column-count: 2;
  }

}



@media (max-width: 800px) {

    .noticiatextual {
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
        height: fit-content;
        column-count: 1;
      
      }
 
    
    }