/* The navigation bar */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


:root {
  --min-font-size-cuerpo: 1.08em;
  --max-font-size-titular: 2.025em;

  --min-font-size-subtitulo: 1.125em;
  --max-font-size-subtitulo: 12.75vw;

  --min-font-size-titular: 1.65em;
  --max-font-size-cuerpo: 1.05em;

 
  --min-width-imagen-1450: 56.64vw;
  --max-width-imagen-1450: 56.64vw;

  --min-width-logo: 3.35vw;
  --min-width-logo2: 16.85vw;
  --max-width-logo: 4.85vw;

  --max-margintop-noticias:31.5vh;
  --min-margintop-noticias:20.25vh;


}


*{
    font-family: 'Inter', Courier, monospace;
    margin: auto;
    padding: 0%;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
    margin-top: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-decoration: none;
    scroll-behavior: smooth;

}


#contactotextoflotante {
display: block;
scale: 0.5;
z-index: 1;
margin: 0;
padding: 0;


}

.divisor {
  display: flex;
  position: relative;
  width: 100vw;
  height:auto;
  padding: 70px 0;
  margin: 0;
  overflow: hidden;
  filter: brightness(10);
}

.divisorportada {
  display: flex;
  width: auto;
  height:20px;
  margin: -210px 20px 0px 20px;
  overflow: hidden;


}

.tituloseparador {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: wrap;
  justify-content: space-between;
  gap: auto;
  height: fit-content;
  padding: 2rem 7vw;
  background-color: #fafafa;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  word-break: break-word;
  line-height: 1.6;
  cursor: pointer;
  
}

.tituloseparador * {
  cursor: pointer;
}

.tituloseparador img {
  width: 6vw;
  max-width: 33px;
  min-width: 22px;
}

a {
  color: #fafafa;
  letter-spacing: 4pt;
}

a:hover {
  color: #fafafa;
}

a:visited {
  color:#fafafa;
}

a:active {
  color: #fafafa;
}

h1 {
  font-size: 28px;
  color: #2F75A2;
  letter-spacing: 10px;
  text-align: center;
  font-weight: 900;
  margin: 0;
  align-items: center;
  cursor: default;
  text-align: left;


}


h2 {
  letter-spacing: 0.375;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  word-break: break-word;
  line-height: 1.6;
}

html {
  margin: 0;
  padding: 0;
  top: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;



}



body {
  font-size:12px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color:none;
  width: 100vw;
  height: fit-content;
  margin: 0;
  padding: 0;
  z-index: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #2c2c2c;
  opacity: 0;
  
}




/* mapa */

.mapa {
  display: flex;
  background: transparent;
  flex-direction: column;
  width: 100vw;
  padding: 0 7vw;
  height: auto;
  max-height: 0;
  gap: 40px;
  z-index: 99999;
  background-color:#fafafa;


}

.mapatexto {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;

}

.mapatexto p {
  max-width: 800px;
}

.mapaimagen {
  width: 100%;

}

h2 {
  font-size: 18px;
  letter-spacing: 0.375em;
  color: #2F75A2;
}

.cardmapa h2 {
  font-size: 1vw;
  letter-spacing: 0.375em;
  color: #2F75A2;
}

.mapamapa {
  display: flex;
  position: relative;
  z-index: +9999;
}

.cardmapa {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 16vw;
  left: 1vw;
  right: 50vw;
  top: 10vw;
  gap: 3vw;
  z-index: 9999;
}


#cardmapabuho {
  bottom: 9vw;
  left: 50.3vw;
  right: 50vw;
  top: 14vw;
  gap: 3vw;

}

/* */

.cardmapasuperior {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}

.botoncardmapa:hover {
  padding: 16px 22px;
  font-size: 22px;
}



.botoncardmapa h2{
  font-size: 12px;
  white-space: nowrap;
  color: #fafafa;
  transition: font-size 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);

}


 .botoncardmapa:hover h2 {
  font-size: 14px;
}



.botoncardmapa {
  display: flex;
  padding: 14px 20px;
  background-color: #2F75A2;
  border-radius: 4px;
  transition: padding 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: 99999;

}


/* */

.cardmapainferior {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;

}

.mapapointer {
  background: #2F75A2;
  width: 1vw;
  height: 1vw;
  border-radius: 200px;


}


.cardmapa h3 {

  font-size: max(1.1vw, 12px); 
  letter-spacing: 0.375em;
  color: #2F75A2;
  white-space: nowrap;
}






.mapalogo {
  width: 6vw;
  height: auto;
}








/* El header */
  header {
    display: flex;
    position:fixed;
    top: 0; 
    justify-content: flex-start; 
    gap: 1rem;
    align-items: center; 
    justify-items: center;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    margin: 0;
    padding:0;
    background-color: #2F75A2;
    /* background-image: url('fondonavexport.png'); Ruta de la imagen de fondo */
    background-size:cover; /* Ajusta la imagen para que cubra toda la barra de navegación */
    background-repeat:no-repeat; /* Evita la repetición de la imagen */
    /* transition: background 4s cubic-bezier(0.075, 0.82, 0.165, 1); */
    filter: blur(40);
    z-index: 99999999;
    /* background-image: url('/Assets/cabecerafondo.png'); */
    background-size: cover; /* Adjusts the size of the background image to cover the entire container */
    /*background-position: center -300px;  Positions the background image at the center horizontally and 300 pixels from the top vertically */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
  } 





/* EQUIPO LOCUTOR */

.equipo {
  display: block;
  position: relative;
  flex-direction: row;
  text-justify: flex-start;
  width: 100%;
  height: auto;
  align-items: center;
  background-color:#fafafa;
  box-sizing:border-box;


}



.equipoconjunto {
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: flex-start;
  width: 100%;
  padding: 0 3vw;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 1rem;
  transition: transform 0.5s ease-in-out;


}

.equipolocutor {
  display: flex;
  width: auto;
  height: fit-content;
  min-width: 300px;
  max-width: 26%;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  transition: scale 2s cubic-bezier(0.165, 0.84, 0.44, 1);

}

button.prev, button.next {
  display: flex;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  color: white;
  background-color: #2F75A2;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  font-size: 48px;
  z-index: 99999;
  transition: 1s scale cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button.prev {
  left:0;
}

button.next {
  right: 0;
}

button.prev:hover, button.next:hover {
  scale: 1.1;
}


.equipolocutorimg {
  display: flex;
  width: 90%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}


.equipolocutortextual {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  background-color: #ffffff;
  padding: 1rem;
  z-index: 0;
  border-radius: 20px;
}

.equipolocutorprograma {
  display: flex;
  padding: 1rem;
  border: solid 1px #2F75A2;
  
}

.equipolocutorenlace {
  color: #2F75A2;
  text-decoration: underline;
  letter-spacing: normal;

}

.equipolocutorenlace:visited {
  color: #5ab1e7d2;
}

.equipolocutorenlace:hover {
  color: #2c2c2c;
}



  /* NOTICIAS */


  .noticias {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    max-height: 0;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 7vw 0 7vw;
    margin: 0;
    gap: 2rem;
    background-color:#fafafa;
    overflow: hidden;
  }


  .noticias > *:nth-child(n+4) {
    display: none;
  }


  .noticia {
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 400px;
    max-width: 40%;
    height: fit-content;
    align-items: center;
    padding:0;
    gap: 1rem;
    border-radius: 0;


  }

  .noticiaetiquetas {
    display: flex;
    grid-column: span 1; /* Autor y fecha abarca una columna */
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: row;
    height: fit-content;
    /* background-color: #b5b5b54f; */
    background-color:#2f76a20a;
  }


  .noticiamedia {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    max-height: 200px;
    overflow: hidden;
  }

.noticiavideo {
  display: flex;
  position: relative;
  flex-direction: row;
  object-fit: cover;
  width: 100%;
  height: fit-content;
  border-radius: 0;

}

.noticiatextual {
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  height: fit-content;
  column-count: 1;

}


.noticiatitular {
  height: fit-content;
  font-size: 24px;
  white-space: wrap;
  padding: 0 0 1rem 0;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  word-break: break-word;
  line-height: 1.6;
  letter-spacing: 0.05em;
}


.noticialadillo {
  display: none;
  padding: 0;
  height: fit-content;
}


.noticiafecha {
  display: flex;
  color: #2c2c2c;
  padding: 0 1rem 0 0;
  width: fit-content;
  /* border: 1px solid #2F75A2;
  border-radius: 200px; */
}

.noticiatextualautor {
display: flex;
position:relative;
width: fit-content;
gap: 1rem;
height: fit-content;
align-items: center;
border-radius: 0;


}

.noticiaimagenautor {
  width: 60px;
  height: auto;
  overflow: hidden;
}


.noticiaimagencomplementaria {
  width: 100%;
  display: none;
  overflow: hidden;
  height: 200px;
  padding: 0 0 1rem 0;
}

.noticiatextualentradilla {
  padding: 1rem 0;
  height: fit-content;
  line-height: 1.5;
  border-bottom: none;
}


.noticiatextualp {
  display: none;
  height: fit-content;
  padding: 1rem 0;
  transition: max-height 0.5s ease-out;
}





  

/* NAV */

.menu {
  position: relative;
  cursor: pointer;
  z-index: 99999999;
  order: 4;
}

.submenu {
  display: flex;
  position: absolute;
  top: 25vh;
  right: -60vw;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  opacity: 1;
  font-size: 18px;
  letter-spacing: 0.319vw;
  transition: right 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), height 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  cursor: pointer;
  z-index: 999999;

}


.submenuitem {
  display: flex;
  align-items: center;
  width: auto;
  backdrop-filter: blur(40px);
  font-size: 18px;
  border-radius: 100px;
  background-color:#2f76a2;


}

.submenuitemtexto {
  width: auto;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.submenuitem2 {
  display: flex;
  font-size: 14px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  background-color: transparent;
}

.submenuitem img {
  display: flex;
  width: 25px;
}

.menu.clicked .submenu {
  right: -4vw;
  top: 25vh;
}

.submenuitem:hover .submenuitemtexto {
  width:auto;
  max-width: 400px;
  margin-right: 10px;

}

.menu:hover .submenu .opciones {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.opciones {
  display: none;
}

.callbuttoncontainer {
  display: flex;
  order: 2;
  width: 100%;
  justify-content: flex-end;
  flex-grow: 6;
}


.callbutton {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  z-index: 9999;
  gap: 1rem;
  position: relative;
  height: auto;
  align-items: center;
  justify-content: flex-end;
  padding: 14px 16px;
  flex-grow: 8;
  border-radius: 200px;
  width: auto;
  min-width:62px;
  max-width: 62px;
  background-color:rgba(255, 255, 255, 0.199);
  overflow: hidden;
  transition: max-width 4s cubic-bezier(0.165, 0.84, 0.44, 1);


}

.callbutton:hover {
  width: 100%;
  max-width: 250px;
}


.callbutton img {
  height: auto;
  width: 28px;
  transition: scale 2s cubic-bezier(0.165, 0.84, 0.44, 1);

}



.callbuttontexto {
  display: flex;
  font-size: 16px;
  position: relative;
  color: #fafafa;
  width: 160px;
  border-radius: 200px;
  white-space: nowrap;
  overflow: hidden;




}















/* */

  .cabeza {
    display: flex;
    align-items: center;
    order: 1;
    width: 100%;
    justify-content: flex-end;
    gap: 2rem;
    height: fit-content; /*Interesante 100% para abrir navegador*/
    padding:1rem 6vw;
    z-index: 0;
    flex-direction: row;
    background-color: #2F75A2;
    transition: padding 4s cubic-bezier(0.075, 0.82, 0.165, 1);

  
  
  }










  .logo {
    display: flex;
    position: relative;
    width: 100%;
    flex-grow: 0;
    order: 1;
    height: auto;
    margin: 0;
    z-index: 99999999;
  }

  #logo {
    transition: scale 4s cubic-bezier(0.075, 0.82, 0.165, 1);


  }

  .logo img {
    width: 70px ;
    transition: padding 2s cubic-bezier(0.165, 0.84, 0.44, 1);


  }


/*quienes somos */


.quienesomos {
  display: flex;
  width: 100%;
  bottom: 0;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  gap: 0;
  position: relative; /* Añade esto para posicionar el contenido en relación con el video */
  /* height: calc(100vh - 118px); */
  height: 100vh;

}

#video-background {
  display: flex;
  object-fit: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: -999999;
  filter: saturate(-40);
  pointer-events: none;
}

.quienesomostexto {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  top: 40px;
  max-width: 100%;
  justify-content: center;
  height: 100%;
  gap: 2rem;
  padding: 0 40vw 0 7vw;
  background: #2c2c2c63;
  color: white;
  border-radius: 0px;
  margin: 0;
  backdrop-filter: blur(4px); /* Aplicar desenfoque de 10px */


}

.quienesomos h1 {
  color: white;
}


/*programas y cards de 
 información intro */

.programastexto {
display: flex;
flex-direction: column;
width: 100%;
height: auto;
max-height: 0;
gap: 20px;
padding: 0 7vw;
background-color:#FAFAFA;

}


.botonesplataforma {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-direction: column;
}


#botondirecto {
  transform: rotate(90deg);
  transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  
}

  /*podcast card*/


  .podcastcard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: auto;
    height: fit-content;
    gap: 0;
    padding: 0;
    border-radius: 8px;
    z-index: 2;
    background-color: #fafafa;
    transition: width 2s cubic-bezier(0.165, 0.84, 0.44, 1);


  }



  .partetextualpodcastcard {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    width: auto;
    min-width: 400px;
    max-width: 28vw;
    height: fit-content;
    padding: 1rem;
    border-radius: 0 12px;
    
}


 


  .cardreproducirultimoprograma {
    display: flex;
    position: absolute;
    color: #2f76a200;
    background-color:  #fafafa;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    max-width: 70px;
    margin-left: 30px;
    padding-left:22px;
    padding-right: 24px;
    gap: 1rem;
    height: 60px;
    letter-spacing: 3px;
    top: 131px;
    border-radius:200px;
    z-index: 1111;
    overflow: hidden;
    transition: max-width 1s cubic-bezier(0.39, 0.575, 0.565, 1), scale 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), color cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
  }


  .cardreproducirultimoprograma:hover{
    display: flex;
    color: #fafafa;
    background-color: #2F75A2;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    max-width: 100%;
    gap: 1rem;
    height: 60px;
    letter-spacing: 3px;
    z-index: 1111;
    cursor: pointer;

  }

  .cardreproducirultimoprograma:hover .cardreproducirultimoprogramaimg{
    filter: brightness(100);


  }












.podcastcardimgprincipal {
  display: flex;
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}



.days {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    white-space: nowrap;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
}

.dayon {
    background-color: #2f76a200;
    color: #2F75A2;
    border-radius: 40px;
    border: 1px solid #2F75A2;
    width: fit-content;
    height: 42px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}

.descriptionon {
  background-color: #2f76a200;
  color: #2F75A2;
  border-radius: 40px;
  border: 1px solid #2F75A2;
  width: fit-content;
  height: 42px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  justify-content: center;
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: 500;

}

/* para descripciones de programas */

.descriptiononalt {
  background-color: #2F75A2;
  color: #fafafa;

}

.dayoff {
  display: none;
  background-color: #7a7a7a00;
  color: #101010;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
}

.hours {
  background-color: #ffffff00;
  color: #2f76a2;
  border-radius: 10px;
  border: 1px solid #2F75A2;
  width: 100%;
  height: 40px;
  font-size: 1.5em;
  display: flex;
  padding: 0 auto 0 auto;
  align-items: center;
  justify-content: center;

}



.masprogramas {
  background-color: #2F75A2;
  color: #ffff;
  order: 3;
  border-radius: 4px;
  border: 1px solid #2F75A2;
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.1);
  letter-spacing:3px;
  text-align: center;
  white-space: wrap;

  transition: box-shadow 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), height 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: scale 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);


}

.masprogramasrecientes {
  background-color: #2f76a2;
  justify-content: flex-start;
  white-space: wrap;
  width: 100%;
  gap: 1rem;
  color: #fafafa;
  border: none;
  order: 1;

}




.masprogramasspotify {
  background-color: #58A32F;
  border: none;
  justify-content: flex-start;
  gap: 1rem;
}


.masprogramasivoox {
  background-color: #312a25;
  border: none;
  justify-content: flex-start;
  gap: 1rem;
}









#programalink {
  width: 80%;
  justify-content: center;
  padding: 0;
  margin: 0;
  white-space: wrap;


}





.masprogramas:hover{
  font-size: 14px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  cursor:pointer;
  scale: 1.01;

}

.masprogramasreproducirfragmento:hover {
  scale: 1;
  }

.masprogramasreproducirfragmentofondo:hover {
  scale: 1;
}




.todoslosprogramas {
  background-color: #2f76a2;
  color: #ffff;
  border-radius: 8px;
  border: 1px solid #2F75A2;
  width: auto;
  height: 50px;
  font-size: 18px;
  margin: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.1);


}

.todoslosprogramas:hover{
  background-color: #2F75A2;
  color: #ffffff;
  border-radius: 8px;
  border: 0px solid #ffffff;
  width: auto;
  height: 50px;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  cursor:pointer;
  

}

.iconoplay {
  display: flex;
  width: 40px;
  height: auto;
  background-color: #2f76a200;
  /* border: 1px solid #2F75A2; */
  border-radius: 0;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  cursor: pointer;
  transition: padding 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);

}

.iconoplay:hover {
  width: 40px;
  height: auto;
  background-color: #2f76a200;
  /* border: 1px solid #2F75A2; */
  padding: 0;
  border-radius: 0;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}


#iconoplay {
  display: flex;
  width: 40px;
  height: auto;
  background-color: #2f76a200;
  /* border: 1px solid #2F75A2; */
  padding: 0rem;
  border-radius: 0;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  cursor: pointer;
  transition: padding 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#iconoplay:hover {
  width: 40px;
  height: auto;
  background-color: #2f76a200;
  /* border: 1px solid #2F75A2; */
  padding: 0;
  border-radius: 0;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}




.card h2 {
    font-size: 24px;
    color: #2F75A2;
    width: 100%;
    letter-spacing: 10px;
    text-align: left;
    font-weight: 900;
    margin: 0;
    align-items: flex-start;
    cursor: default;
}

.card h3 {
    font-size: 18px;
    margin: 0;
    display: inline;
    text-align: center;
    white-space: nowrap;
}


p {
  font-size: 14px;
  line-height: 1.5;
}

.card p {
    font-size: 14px;
    text-align: left;
    
}

.autor {
  text-decoration: none;
  display: inline;
}

.autor:hover {
  text-decoration: none;
  display: inline;
  color:#010101;
}
 


    button {
    display: flex;
    margin: 0;
    background-color: #00000000;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-end;
    justify-self: flex-end;
    width: auto;
    height: auto;

    }

    #enviarformulario {
      font-size: clamp(var(--min-font-size-subtitulo), 0.368rem, var(--max-font-size-subtitulo));
      color: #2F75A2;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      letter-spacing:0.325rem;
  }
 
  #enviarformulario a:hover {
    background: #fafafa00;
    color: #000000;
    border-radius: 12px;
    width: full-width;

  }



/* Estilo para el control deslizante de audio */


   /*slider */
   #audio-slider {
    position: relative;
    top: -36px;
    z-index: 999999;

  }

input[type="range"] {
  width: 100%;
  height: 8px;
  background-color: #fafafa; /* Color detrás del thumb */
  outline: none;
  opacity: 1;
  transition: opacity .15s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #fafafa; /* Color del buffer */
  border-radius: 0;
}


input[type="range"]::-moz-range-progress {
  background-color: #2c2c2c; /* Color del buffer (para Firefox) */
  height: 8px;
  border-radius: 5px;
}

input[type="range"]::-webkit-progress-value {
  background-color: #2c2c2c; /* Color del buffer (para WebKit) */
  height: 8px;
  border-radius: 5px;
  z-index: 99999;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  background: #ddd; /* Color detrás del thumb (para Firefox) */
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 8px;
  border-radius: 0;
  background: #2c2c2c;
  opacity: 1;
  cursor: pointer;
  z-index: 99999;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}


#buffer-progress {
  position: absolute;
  top: 10vh;
  width: 10px;
  left: 0;
  height: 6px;
  background-color: #2c2c2c; /* Color verde para la barra de progreso */
}



  /*playlist*/

/*PROGRAMAS RECIENTES */

.episodes-container {
  display: none;
  position: relative;
  height: fit-content;
  width: 100%;
  padding: 1rem 1rem;
  gap: 1rem;
  align-items: flex-start;
  max-height: auto;
  flex-direction: column;
  transition: max-height 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  background-color: #FAFAFA;
  overflow: auto;
  order: 3;
  flex-wrap: wrap;

}



.programareciente {
  display: flex;
  opacity: 100;
  width: auto;
  min-width: 32.4%;
  max-width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: fit-content;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  background-color: #2c2c2c0d;
  border-radius: 8px;
  overflow:  visible;
}
 

.programarecienteimgtitulo {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  width: auto;
}


.programarecientesubtitulos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  gap: 1rem;
}

.programrecientedate {
  display: flex;
  align-items: center;
  width: 100%;

}
.programareciente p {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 0.5rem;
  align-items: center;
  max-height: auto;
  overflow: hidden;
}


.programareciente h2 {
  letter-spacing: 0;
  width: 100%;
  display: flex;
  padding: 0;
}

.programarecientesphere {
  background-color: #2F75A2;
  color: #2F75A2;
  display: flex;
  width:auto;
  min-width: 2.5%;
  max-width: 100%;
  height: auto;
  border-radius: 200px;
}


.programareciente img {
  display: flex;
  width: 20%;
}

.programarecienteimgtitulo {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 1rem;
  padding: 20px 20px 0 20px;
  align-items: left;
  flex-direction: row;
}


.programareciente .masprogramas {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: flex-start;
}



.programarecientetexto {
  display: flex;
  width: 100%;
  gap: 0.2rem;
  padding: 0 20px;
  flex-direction: column;
}




.masprogramasreproducirfragmentofondo {
  display: flex;
  position: fixed;
  background-color: #fafafa6e;
  z-index: 9999;
  height: 70px;
  left: -1px;
}

.masprogramasreproducirfragmentofondo:hover {
  display: flex;
  position: fixed;
  background-color: #fafafa6e;
  z-index: 9999;
  height: 70px;
  left: -1px;
}



.home {
padding: 0 10vw;
width: 100vw;
display: flex;
justify-content: space-between;
gap: auto;
flex-direction: row;
overflow-x: auto;
}

.subhome {
  padding: 0 10vw;
  width: 100vw;
  display: flex;
  justify-content: left;
  gap: auto;
  flex-direction: row;

}

.homederecha {
  padding: 3vh 4vw 2vh 4vw;
  margin: 10vh 10vw;
  justify-content: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #FAFAFA;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: -100px;
}

.home h2 {
  font-size: 24px;
}

.homeimg {
  width: 1000px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}


/* podcasts */

.podcasts {
  display: flex;
  position: relative;
  height: auto;
}


button.podcastsprev, button.podcastsnext {
  display: flex;
  position: absolute;
  top: 16%;
  transform: translateY(-50%);
  color: white;
  background-color: #2F75A2;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  font-size: 48px;
  z-index: 99999;
  transition: 1s scale cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button.podcastsprev {
  left:0;
}

button.podcastsnext {
  right: 0;
}

button.podcastsprev:hover, button.podcastsnext:hover {
  scale: 1.1;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: visible;
    height: auto;
    position: relative;
    max-height: fit-content;
    width: fit-content; 
    padding: 0;
    justify-content: space-between;
    gap: auto;
    z-index:9999;
    /* background-color:#2f76a20a; */
    background-color: #FAFAFA;
    transition: transform 0.5s ease-in-out;

}

#anclahorarios {
  display: flex;
  width: 100%;
}





.imagen {
  order: 1;
  margin-right: 3.125rem;
  width: 100rem;
  height:36vh;
  flex-shrink: 3;
  flex-grow:1;
  border-radius:0;
  align-items: center;

  
}

.imagen img {
  width: 300%;
  height:auto;
}



 

  .imagen {
    order: 1;
    margin-right: 3.125rem;
    width: auto;
    height: auto;
    margin:0;
}

.imagen img {
    height: auto;
    width: 75.52rem;
    
}

.programasrecientes {
  display: none;
  width: auto;
}






/* footer */

footer {
  background-color: #2c2c2c; /* Color de fondo del footer */
  color: #fafafa; /* Color del texto en el footer */
  display: flex;
  position: relative;
  bottom: 0;
  height: fit-content;
  justify-content: center;
  letter-spacing: 0.375rem;
  align-items: center;
  text-justify: center;
  flex-direction: column;
  padding:2rem 0;
  margin: 0;
  gap: 1rem;
  width: 100vw;
  z-index: 99999;
  /* border-top: 1px solid #2F75A2; */
}


.footertop {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 10px;
}

.footerbottom {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  height: fit-content;
}


.footertitulo {
  display: flex;
  width: fit-content;
}

.footerlink:hover {
  scale: 1.02;
}

/* header y reproductor */

  .reproductor {  
    display: flex;
    position: relative;
    flex-direction: row;
    width:100%;
    gap: 1vw;
    order: 2;
    padding: 0;
    z-index: -99999;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: gap 5s cubic-bezier(0.19, 1, 0.22, 1), border-radius 5s cubic-bezier(0.19, 1, 0.22, 1); 
    /* box-shadow:inset 0 0 5px 0 rgba(0, 0, 0, 0.5); */

    }




  

    .mascara {
      border: 0px red solid;
      position: absolute;
      display: flex;
      opacity: 100;
      padding-top: 1rem;
      /* clip-path: inset(0% 1% 0% 1%); */
      width: 100vw; /*No entiendo por que pero funciona */
      justify-content: center;
      align-items: center;
      height: fit-content;
      background-color: #2c2c2c;
      /* box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5); */


      z-index:-99999;


    }

        
            .radiotexto {
              display: flex;
              height: fit-content;
              font-size: 14px;
              align-items: center;
              position: relative;
              white-space: nowrap; /* Evita que el texto se desborde */
              animation: moverTexto 40s linear infinite;

            }

            @keyframes moverTexto {
              0% {
                  transform: translateX(100%);
              } 
              100% {
                  transform: translateX(-100%);
              }
          }
        
            #programaActual {
                border: 0px red solid;
                display: flex;
                /* animation: moverTexto 20s linear infinite; */
                letter-spacing: 4pt;
                white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
                margin: 0;
                height: fit-content;
                padding: 16px;
                align-items: center;
                background-color: #fafafa00;
                border-radius: 200px;
                z-index: -1;
                font-size: 14px;
                color: #fafafa; /* Hace que el texto sea transparente para que se muestre el gradiente de color de fondo */
               
            }

            #programaSiguiente {
              border: 0px red solid;
              display: flex;
              /* animation: moverTexto 20s linear infinite; */
              letter-spacing: 4pt;
              white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
              margin: 0;
              align-items: center;
              height: fit-content;
              padding: 16px;
              background-color: #fafafa00;
              border-radius: 200px;
              z-index: -1;
              font-size: 14px;
              color: #fafafa; /* Hace que el texto sea transparente para que se muestre el gradiente de color de fondo */
             
          }

          #rotativoInformativo {
            border: 0px red solid;
            display: flex;
            /* animation: moverTexto 20s linear infinite; */
            letter-spacing: 4pt;
            align-items: center;
            white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
            margin: 0;
            gap: 10px;
            height: fit-content;
            padding: 0 10px;
            border-radius: 200px;
            z-index: -1;
            font-size: 14px;
            color: #fafafa; /* Hace que el texto sea transparente para que se muestre el gradiente de color de fondo */
           
        }
      
        



        .informacionavegador {
            order:1;
            width: auto;
            height: 6vh;
            display:flex;
            align-items:center;
            flex-direction: row;
            color: #fafafa00;
            flex-wrap: nowrap;
            margin:0;
            
            }

            .barradenavegacion {
                display: flex;
                flex-direction: row;
                width: auto;
                height: auto;
                gap: auto;
                white-space: nowrap;
                justify-content: center;
                align-items: center;
                padding:0;
               
                
                
                
            }

        
                
                .navegadormomentodirecto {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 10px;
                    width: auto;
                    height: auto;
                    padding:0;
                    margin:0;
                
                } 
                
                    #directo {
                        display: flex;
                        flex-direction: row;
                        gap: 1em;
                        width: auto;
                        height: auto;
                        padding: 0;
                        margin:0;
                        font-size: 20px;
                        color: #fafafa;
                        letter-spacing: 4pt;
                        align-items: center;
                        font-weight:800;
                        pointer-events: none;
                        opacity: 100;
                    
                    }
                    
                        .botonclasico {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height:fit-content;
                        width: 32px;
                        height: auto;
                        padding: 0;
                        }





    .controles {
        display: flex;
        order: 3;
        position: relative;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-direction: row;
        width: 100%;
        height: auto;
        background-color:rgba(255, 255, 255, 0.199);
        border: 0px solid #FAFAFA;
        white-space: nowrap;
        align-items: center;
        width: auto;
        padding: 14px 2vw;
        backdrop-filter: blur(40px);
        font-size: 18px;
        border-radius: 100px;
        z-index: 80;
        transition: padding 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: scale 2s cubic-bezier(0.075, 0.82, 0.165, 1);

        
    }

    .controlestexto {
      font-size: 14px;
       color: #fafafa;
       letter-spacing: 0.375em;
    }


    .icono {
       width: auto;
       padding: 0;
       scale: 1;
       transition: scale 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);


    }

    .icono:hover {
      scale:1.1;
      height: auto;

    }

        #treintatras {
            display:flex;
            height: auto;
            justify-content: center;
            align-items: center;
            padding: 0% 0% 0% 0%;
        }

            #imagen-diez-segundos-atras {
                display:flex;
                height:30px;
                justify-content: center;
                align-items: center;
                cursor:pointer;


            }



        button {
            background-color: #fafafa00;
        }

        #fotoplay{
            height: auto;
            margin-left: 0;
        }

            #imagen-reproducir-pausar {
                display:flex;
                height:30px;
                justify-content: center;
                align-items: center;
                cursor:pointer;

            }



        #treintadelante {
            display:flex;
            height: auto;
            align-items: center;
            padding: 0;
        }

            #imagen-en-vivo {
                display:flex;
                height:30px;
                align-items: center;
                cursor:pointer;


            }

    .programas {
        align-items: center;
        flex-direction: row;
        gap: 10rem;
        width: auto;
        height:auto;
        border: 0px solid #FAFAFA;
        background-color: #fafafa00;
        background-image: linear-gradient(121deg, rgba(250,250,250,1) 0%, rgba(250,250,250,0) 90%); /* Define el gradiente de color */
        color: transparent; /* Hace que el texto sea transparente para que se muestre el gradiente de color de fondo */
        border-radius: 200px;
        letter-spacing: 4pt;
        margin-top:-26px;
        margin-left:-3rem;

    }


   .contenido {
      height: auto;
      padding:0;
      box-shadow: none;
      border-radius: 0;
      flex-wrap: wrap;


    }



     /* TEXTO REPRODUCTOR TABLA */

     .contenedorhorarios {
      display: flex;
     }

     table {
      display: flex;
      align-items: center;
      border-collapse: collapse;
      width: auto;
      white-space: wrap;
      overflow-x: auto;
      overflow-y: hidden;
      color: #2c2c2c;
      font-size: 12px;
      
  }
  
  th, td {
      border: 0px solid #dddddd;
      width: auto;
      text-align: left;
      padding: 1rem;
      border-bottom: 1px solid #2F75A2;
      text-align: center;
      
  }



  
  th {
    font-weight: 900;
    font-size: 16px;
    width: auto;
    border: 0;
    border-bottom: 1px solid;
    color: #2F75A2;
    background-color: #FAFAFA;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto;

    
}



#columnahora {
  display: flex;
  width: auto;
  color: #fafafa00;
}

.hora {
  display: flex;
  position: sticky;
  right: 0;
  width: auto;
  justify-content: center;
  align-items: center;
  background-color: #2F75A2;
  color: #fafafa;
  height: auto;
  border-radius: 200px 200px 0 200px;
  z-index: 1;

  }


    .horanovisible {
      display: none;
    }
    
    #filahora1 {
      display: none;
    }

    #filahora2 {
      display: none;
    }

    #filahora3 {
      display: none;
    }

    #filahora23 {
      display: none;
    }




    /*  */

        

          .imagencontacto {
            display: none;
            order: 1;
            margin-right: 3.125rem;
            width: auto;
            height:36vh;
            flex-shrink: 3;
            flex-grow:1;
            border-radius:0;
            align-items: center;

          }



  
   
/*Para los textos descriptivos*/

.parrafoleermas {
  align-content: flex-start;
  width: auto;
  overflow-y: hidden;
  padding:0;
  margin-top: -20px;
  margin-bottom: 10px;
  max-height: 400px;
  /* transition: max-height 0.1s cubic-bezier(0.68, 0.55, 0.27, 1.55); */

}

.botonleermas {
  padding: 10px 10px 10px 10px;
  color: #fafafa;
  background-color: #2F75A2;
  border: 1px solid #2F75A2;
  border-radius: 10px;
  transition: padding 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), font-size 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 12px;

}

.botonleermas:hover {
  padding: 14px 10px;
  font-size: 13px;
}

.grupocarddescripcion {
  display: flex;
  width: auto;
  padding: 1rem 0;
  margin-top: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



/* Contacto */

.contacto {
width: 100vw;
height: auto;
padding: 20px 10vw;
margin:0 10vw;
display: flex;
flex-direction: row;
flex-wrap: wrap;
white-space:nowrap;
justify-content: center;
gap: 20px;
background: #2F75A2;
color: #fafafa;
align-items: center;
z-index: 1;
}

.contacto h2 {
  color: #fafafa;
  font-size: 14px;
}


.contactotexto img {
  width: 40px;
  height: auto;
  transition: width 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  order: 1;

}

.contactotexto img:hover {
  width: 42px;
  height: auto;
}

.contactotexto {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h4 {
  letter-spacing: 4pt;
  display: flex;
  flex-direction: row;
  font-weight: 800;
  font-size: 24px;
  gap: 20px;
  align-items: center;
  background-color: linear-gradient(121deg, rgba(250,250,250,1) 0%, rgba(250,250,250,0) 99%);
  color: rgba(255, 255, 255, 0.59); 

}

.contactoderecha {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: center;
  z-index: 1;
  background-color:#FAFAFA;
  padding: 0;
  padding-bottom: 1rem;
}

/* anuncio */

.anuncio {
  display:flex;
  position: relative;
    align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  height: fit-content;
  flex-direction: row;
  background-color: orange;
  z-index: 1; /* Asegura que el elemento sticky esté debajo del header */

}

.anuncio img {
  display: flex;
  width: 12vw;
}


.anuncio h2 {
  color: #fafafa;
  font-size: 14px;
  white-space: wrap;
}

.anuncio a {
  border: 1px solid transparent;
  padding: 10px;
}



#anuncio1 {
  display: flex;
  gap: 1rem;
height: fit-content;
align-items: center;
justify-content: flex-start;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
padding: 1.25rem 7vw;
/* background-color: #A3732F; */
background-color: #ffcb3c;
transition: scale 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
box-shadow:2px 2px 4px 0 rgba(0, 0, 0, 0.2);
overflow-x: hidden;

}


.anunciotexto {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

#anuncio1:hover {
scale: 1.01;

}


#anuncio1 h2 {
  color: #2c2c2c;
}

#anuncio2 {
  background-color: #fafafa;
  left: 400px;
  bottom:40px ;
}

#anuncio2:hover {
  scale: 1.05;
  transition: scale 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  }



  /* PUBLI */

  #separadorpublicidad {
    display: none;
  }

  .publicidad {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    height: fit-content;
  }

  .cardpublicidadtopgaleria  {
    display: none;
  }
  

  .cardpublicidad {
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c38;
    padding: 3vw;
    max-width: 42.2vw;
    width: 100%;
    border-radius: 2px;
  }

  .cardpublicidadprecio {
    display: flex;
    font-size: 24px;
    padding: 0;
  }

  .cardpublicidadtop {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: auto;
  }

  .cardpublicidadbottom {
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding: 0;
    gap: 1rem;
  }

  .cardpublicidadcondiciones {
    padding: 0 1rem;
  }


  .cardpublicidadcondiciones li {
    display: list-item;
    list-style-type: disc; /* Tipo de bullet */

  }






  @media (max-width: 1500px) {
    .partetextualpodcastcard {
      min-width: 41vw;
      max-width: 10vw;
      
    }
  }


  @media (max-width: 1300px) {




    .programasrecientes {
      gap: 1rem;
    }

    .programareciente {
      display: flex;
      max-width: 100%;
      min-width: none;
    }

.noticias {
  flex-wrap: wrap;
}

    .noticia {
      width: auto;
      min-width: 300px;
      max-width: 100%;
    }


  }






  @media (max-width: 800px) {

    h1 {
      font-size: 24px;
    }

    .card h2 {
      font-size: 22px;
    }


    .cabeza {
      gap: auto;
      justify-content: space-between;
    }
    
  
    .logo {
      width: fit-content;
    }

    .callbuttoncontainer {
      display: none;
      width: fit-content;
    }



    /*anuncio */


    .anuncio {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        z-index: 1;
    }



   /*slider */
   #audio-slider {
    display: none;
    position: relative;
    top: -32px;
    z-index: 999999;

  }



.programareciente {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}



/* EQUIPO LOCUTOR */

.equipo {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
}

.equipoconjunto {
  display: flex;
  height: auto;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  gap: 0;
  background-color:#fafafa ;
}

.equipolocutor {
  width: 100%;
  min-width: 100%;

}

    /*NOTICIA*/

    .noticias {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      height: auto;
      flex-direction: column;


    }

    .noticiatitular {
      font-size: 20px;
    }


    .noticia {
      min-width: 0;
    }

    .noticiatextual {
      display: block;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1rem;
      width: 100%;
      height: fit-content;
      column-count: 1;
    
    }


    .noticiamedia {
      max-width: 100%;
      height: 200px;
    }

    

    /**/


    .callbutton {
      display: none;
      z-index: 1;
      left: -4rem;
      scale: 0.8;
    }


    .quienesomos {
      position: relative;
      /* height: calc (100vh - 118px); */
      justify-content: flex-end;
      flex-direction: column;
      gap: 0;
    }


    .quienesomostexto {
      width: 100%;
      height: 100%;
      padding: 0 7vw;
      max-width: 100%;
    }




    #anuncio1 {
      position: relative;
      height: fit-content;
      border-radius: 0;
      z-index: 9999;
  }




    .podcastcard {
      display: flex;
      min-width: 100%;
      width: 94%;
      flex-wrap: wrap;
    }

    .card img {
    width: 100%;
    height: 200px;
    }


    .logo img {
      width: 60px;
      padding: 5px 0;
    }


    .controles {
      scale: 1.2;
      padding: 14px 4vw;
  
    }

      .controlestexto {
        display: none;
        font-size: 14px;
         color: #fafafa;
         letter-spacing: 0.375em;
      }

      #contactotextoflotante:hover {
        scale:0.045;
      }



  
  
   

    #cardmapabuho {
      bottom: 9vw;
      left: 56vw;
      right: 4vw;
      top: 14vw;
      gap: 3vw;
    }

  @keyframes moverTexto {
    0% {
    transform: translateX(100%);
}
100% {
    transform: translateX(-100%);
}
}

.cards {
  padding: 0 1vw;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}

.partetextualpodcastcard {
  width: auto;
  max-width: 100%;
  padding: 1.5rem;
}

  
  #imagen-diez-segundos-atras {
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}




#imagen-reproducir-pausar {
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;

}


#imagen-en-vivo {
    display:flex;
    align-items: center;
    cursor:pointer;


}



/* Publi */

.cardpublicidad {
  max-width: 100%;
}




  }